  img{
  height: 30vh;
  width: 70vw;
}
ul li{
  display: flex;
  flex-direction: column;
}
.App {
  text-align: center;
}

li{
  list-style-type: none;
  margin: 1em auto;
  padding: 0.3em;
  max-width: max-content;
  border: 3px solid rgb(139, 139, 139);
  border-radius: 10px;
  box-shadow: 10px black;
  text-align: center;
}
li:hover{
    background-color: burlywood;
    color: white;
    border: 3px solid white;
    }
@media screen and (min-width: 600px) {
img{
  height: 30vh;
  width: 40vw;
}
ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.App{
  text-align: center;
}
}
@media screen and (min-width: 1024px) {
img{
  height: 200px;
  width: 300px;
}
ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.App{
  text-align: center;
}
}